
html
  head
    style
      include style.css
  body
    h4 Q_t
    div.list
      for qt in Q_t
        li #{qt}
    h4 P_t
    div.list
      for pt in P_t
        li #{pt}

    div #{q_length}
    div #{p_length}
